<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>系统详情</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  
  <link rel="alternate icon" type="/cms/img/hengwang-1.png" href="/cms/img/hengwang-1.png">
  <link rel="stylesheet" href="/cms/css/amazeui.css"/>
  <link rel="stylesheet" href="/cms/css/style.css"/>
</head>
<body>
<div th:replace="cms/layout/mallHeader"></div>
<div class="toppic">
	 <div class="am-container-1">
	 <div class="toppic-title left">
			<i class="am-icon-paper-plane toppic-title-i"></i>
			<span class="toppic-title-span">系统详情</span>
			<p>System Information</p>
		</div>
		<!--<div class="right toppic-progress">
			<span><a href="customer-case.html" class="w-white">客户案例</a></span>
			<i class=" am-icon-arrow-circle-right w-white"></i>
			<span><a href="case-inform.html" class="w-white">案例详情</a></span>
		</div>-->
	</div>
</div>

<div >
	<div class=" product-show-ul">
	   
	    	<div class="product-content">
			    	<div class="left am-u-sm-12 product-content-left case-left">
			    		<div class="product-show-title">
			    			<h3 th:text="${goods.title}">标题</h3>
			    		</div>
			    	
			    	<div class="product-show-content">			    		
			    		<div class="product-intro case-inform">
			    			<span>详情介绍：</span>
							<br/>
							<div><p th:utext="${goods.remark}"></p></div><hr>
							<i class="am-icon-tasks"></i>
							<div class="note-editable panel-body"  contenteditable="true" >
								<div th:utext="${goods.content}"></div>
							</div>
							<!--<div><p th:utext="${goods.content}"></p></div>-->
							<hr>

			    		<!--  <img src="/img/weixin.jpg" />-->
			    		</div>
			    	</div>
			    	</div>
			    <!--	<div class="right am-u-sm-12 am-u-md-7 am-u-lg-5 product-content-right"  style="top: 20px">
			    		<img class="case-img" th:src="@{${goods.img}}" />
			    	</div>	-->
			    	<div class="clear"></div>
	    	</div>
	

	</div>
</div>

  
   
		
</div>

<div th:replace="cms/layout/mallFooter"></div>

</body>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets//cms/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/cms/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/cms/js/amazeui.min.js"></script>

</html>
