<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="alternate icon" type="/cms/img/hengwang-1.png" href="/cms/img/hengwang-1.png">
    <link rel="stylesheet" href="/cms/css/amazeui.css"/>
    <link rel="stylesheet" href="/cms/css/style.css"/>
</head>

<body>
<div th:replace="cms/layout/mallHeader"></div>
<div class="rollpic">
    <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
        <ul class="am-slides">
            <li><img src="/cms/img/hw_bg1.png"/></li>
            <li><img src="/cms/img/hw_bg.png"/></li>
            <li><img src="/cms/img/hw_bg3.png"/></li>
            <li th:each="banner:${bannerList}" >
                <a th:href="${banner.url}" title="" target="_blank">
                    <img th:src="${banner.img}"/>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="am-container-1">
    <div class="solutions part-all">
        <div class="part-title">
            <a href="solutions.html">
                <i class="am-icon-lightbulb-o part-title-i"></i>
                <span class="part-title-span">文章分享</span>
              <!--  <p>Article Share</p>-->
            </a>
        </div>
        <ul class="am-g part-content solutions-content">
            <li class="am-u-sm-6 am-u-md-3 am-u-lg-3">
                <i class="am-icon-safari solution-circle"></i>
                <span class="solutions-title">技术创新</span>
                <p class="solutions-way">技术分享与技术创新</p>
            </li>
            <li class="am-u-sm-6 am-u-md-3 am-u-lg-3">
                <i class="am-icon-magic solution-circle"></i>
                <span class="solutions-title">宣传文章</span>
                <p class="solutions-way">用于提供优秀的宣传内容</p>
            </li>
            <li class="am-u-sm-6 am-u-md-3 am-u-lg-3">
                <i class="am-icon-phone solution-circle"></i>
                <span class="solutions-title">生活点滴</span>
                <p class="solutions-way">吐槽人生、感悟世界</p>
            </li>
            <li class="am-u-sm-6 am-u-md-3 am-u-lg-3">
                <i class="am-icon-hacker-news solution-circle"></i>
                <span class="solutions-title">Literature</span>
                <p class="solutions-way">Share Outside The Literature</p>
            </li>

        </ul>

    </div>
</div>
<div class="gray-li">
    <div class="customer-case part-all ">
        <div class="part-title">
            <a href="customer-case.html">
                <i class=" am-icon-briefcase part-title-i"></i>
                <span class="part-title-span">系统展示</span>
              <!--  <p>System Show</p>-->
            </a>
        </div>


        <ul data-am-widget="gallery" class="am-avg-sm-1 am-avg-md-3 am-avg-lg-3 am-gallery-bordered customer-case-content">
            <li class="case-li am-u-sm-6 am-u-md-6 am-u-lg-3" th:each="goods:${articles}">
                <div class="am-gallery-item case-img1">
                    <a th:href="@{'/cms/web/goodsDetail/'+${goods.id}}">
                        <img  th:src="@{${goods.img}} " width="200px" height="200px"/>
                    </a>
                </div>
                <div class="case-li-mengban">
                    <div class=" case-word">
                        <h3 class="am-gallery-title" th:text="${goods.title}">系统展示图片</h3>
                        <div th:text="${#dates.format(goods.createdate, 'yyyy-MM-dd HH:mm')}"></div>
                        <!--<p th:utext="${goods.createDate}"></p>-->
                        <a th:href="@{'/cms/web/goodsDetail/'+${goods.id}}"><span><i class="am-icon-eye"></i>查看更多</span></a>
                    </div>
                </div>
            </li>


        </ul>
        <div class="lan-bott">
            <div class="left"><span>系统展示包括网站首页、博客首页、后台管理系统。全方位解决方案,为您轻松解决不同问题</span>
                <p>System includes Webstite、Blog、Management System。A full range of solutions for you to solve different problems</p>
            </div>
            <div class="right">
                <a href="/cms/web/case">
                    <span class="see-more">查看更多<i class="am-icon-angle-double-right"></i></span>
                </a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="part-title">

        </div>
    </div>
</div>


<div class=" news-all">
    <div class="am-container-1">
        <div class="news part-all">
            <div class="part-title">
                <a href="news.html">
                    <i class="am-icon-newspaper-o part-title-i"></i>
                    <span class="part-title-span">新闻动态</span>
                 <!--   <p>Blog News</p>-->
                </a>
            </div>
            <div class="news-content ">
                <ul class="news-content-ul">
                    <li class="am-u-sm-12 am-u-md-6 am-u-lg-6" th:each="new1:${news}">
                        <a th:href="@{'/cms/web/newsDetail/'+${new1.id}}">
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-5">
                                <div class="news-img">
                                    <img width="196px" height="196px" th:src="@{${new1.img}}"></img>
                                </div>
                            </div>
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-7">
                                <span class="news-right-title" th:text="${new1.title}"></span>
                                <p class="news-right-time" th:text="${#dates.format(new1.createdate, 'yyyy-MM-dd HH:mm')}"></p>
                                <p class="news-right-words" th:text="${new1.remark}"></p>
                                <a th:href="@{'/cms/web/news'}"><span class="see-more2">查看更多<i class="am-icon-angle-double-right"></i></span></a>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>

                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="three-reason">
			<div class="part-title three-reason-title">
			<span class="part-title-span w-white">系统组成的三大模块</span>
			<p class="w-white">System Model</p>
			
		</div>
			<ul class="am-g part-content three-reason-content">
			  <li class="am-u-sm-4 am-u-md-4 am-u-lg-4">
			  	<div class="three-reason-img1 "></div>
			  	<p class="reason-title w-white">后台管理<br/>Management System</p>
			  </li>
			  <li class="am-u-sm-4 am-u-md-4 am-u-lg-4">
			  	<div class="three-reason-img2 "></div>
			  	<p class="reason-title w-white ">博客管理<br/>Webstite</p>
			  </li>
			  <li class="am-u-sm-4 am-u-md-4 am-u-lg-4">
			  	<div class="three-reason-img3 "></div>
			  	<p class="reason-title w-white">个人网站<br/>Blog</p>
			  </li>
		</ul>
		</div>
<div class="part-all gray-li">
    <div class="customer  am-container-1">
        <div class="part-title">
            <i class="am-icon-users part-title-i"></i>
            <span class="part-title-span">友情链接</span>
            <p>Friend-Link</p>
        </div>

        <div class="am-slider am-slider-default am-slider-carousel part-all"
             data-am-flexslider="{itemWidth:150, itemMargin: 5, slideshow: false}"
             style="  background-color: #f0eeed; box-shadow:none;">
            <ul class="am-slides">
                <li th:each="link:${links}"><a target="_blank" th:href="@{${link.href}}">
                    <img width="150px" height="80px" th:src="@{${link.image}}"/></a>
                </li>

            </ul>
        </div>
        <!--<ul class="customer-content">
            <li class="am-u-sm-6 am-u-md-4 am-u-lg-2"><div><img src="/cms/img/ptn4.png"/></div></li>
            <li class="am-u-sm-6 am-u-md-4 am-u-lg-2"><div><img src="/cms/img/ptn5.png"/></div></li>
            <li class="am-u-sm-6 am-u-md-4 am-u-lg-2"><div><img src="/cms/img/ptn6.png"/></div></li>
            <li class="am-u-sm-6 am-u-md-4 am-u-lg-2"><div><img src="/cms/img/ptn7.png"/></div></li>
            <li class="am-u-sm-6 am-u-md-4 am-u-lg-2"><div><img src="/cms/img/ptn8.png"/></div></li>
            <li class="am-u-sm-6 am-u-md-4 am-u-lg-2"><div><img src="/cms/img/ptn4.png"/></div></li>
            <div class="clear"></div>
        </ul>-->
    </div>
</div>
<div th:replace="cms/layout/mallFooter"></div>

</body>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets//cms/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/cms/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/cms/js/amazeui.min.js"></script>
<script src="/cms/js/scroll.js"></script>
<script type="text/javascript">

</script>
</html>
