<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section class="ins-section">
        <header class="ins-section-header">文章</header>
        <div class="ins-selectable ins-search-item" th:each="article : ${articleList}">
                <a th:href="'/blog/article/details/'+${article.id}" >
                    <div>
                <i class="fa fa-file" th:text="${article.title}"></i>
               <!-- <a th:href="'/blog/article/details/'+${article.id}" th:text="${article.title}"></a>-->
                <p class="ins-search-preview" th:text="${article.description}"></p>
                    </div>
                </a>
        </div>
    </section>
</body>
</html>