<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
   <!-- <div class="panel-heading">介绍</div>-->
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;技术框架</h3>
        <ul>
            <li>Springboot框架：基本０配置文件，提高开发效率，使编码变简单、使配置变简单、使部署变简单、使监控变简单。
                简化了使用Spring的过程，只要在pom.xml文件中添加相关依赖，maven可以自动下载。</li>
            <li>mybatis持久层框架：支持定制化 SQL、存储过程以及高级映射的优秀的持久层框架。MyBatis 避免了几乎所有的 JDBC 代码
                和手工设置参数以及抽取结果集。MyBatis 使用简单的 XML 或注解来配置和映射基本体，将接口和 Java 的 POJOs
                (Plain Old Java Objects,普通的 Java对象)映射成数据库中的记录。  </li>
            <li>thymeleaf模板引擎：Thymeleaf是一个Java类库，它是一个xml/xhtml/html5的模板引擎，作为MVC web应用的view层，
                Thymeleaf提供了额外的模板与SpringMVC集成，完全可以使用Thymeleaf替代JSP。</li>
            <li>shiro安全框架：Apache Shiro是Java的一个安全框架，旨在简化身份验证和授权。主要用来处理身份认证，授权，企业会话管理和加密等。</li>
            <li>一键前后台代码生成</li>
           <!-- <li>面向学习型的开源框架，简洁高效，减少过渡封装，展现技术本质</li>
            <li>Springboot作为基础框架，使用mybatis作为持久层框架</li>
            <li>使用官方推荐的thymeleaf做为模板引擎，shiro作为安全框架,主流技术，“一网打尽”</li>
            <li>极简配置，一键前后台代码生成</li>-->
        </ul>

      <!--  <h3>&nbsp;&nbsp;&nbsp;获取源码</h3>
        <ul>
            <li><a href="https://gitee.com/catshen/zscat_sw" th:href="@{https://gitee.com/catshen/zscat_sw}" target="_blank">Github地址</a></li>
            <li><a href="https://gitee.com/catshen/zscat_sw" target="_blank">Oschina地址</a></li>

            <li><a href="http://j2shop.tunnel.qydev.com/street/index" target="_blank">商城前端</a></li>


            <li><a href="http://j2shop.tunnel.qydev.com/disShop/index" target="_blank">商城前端</a></li>
            <li> <a href="http://j2shop.tunnel.qydev.com/web/index" target="_blank">商城前端</a></li>

            <li> <a href="http://j2shop.tunnel.qydev.com/web/cms/index" target="_blank">cms前端</a> </li>
            <li> <a href="http://j2shop.tunnel.qydev.com/blog/index" target="_blank">blog前端</a></li>

            <li><a href="http://j2shop.tunnel.qydev.com/taobao/index" target="_blank">h5端</a>
            </li>
            <br><br><br>
        </ul>-->

    </div>
</div>
</body>
</html>