<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootdo.blog.dao.PartnerMapper">
    <!--获取友情链接列表-->
   <select id="findAll" resultType="com.bootdo.blog.domain.Partner">
       select * from partner
       <where>
           <if test="status != null and status != ''">and status = #{status}</if>
           <if test="siteName != null and siteName != ''">and siteName like CONCAT('%', #{siteName}, '%')</if>
       </where>
               order by sort
       <if test="offset != null and limit != null">
           limit #{offset}, #{limit}
       </if>
   </select>
    <select id="count" resultType="int">
        select count(*) from partner
        <where>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="siteDesc != null and siteDesc != ''">and siteDesc like CONCAT('%', #{siteDesc}, '%')</if>
        </where>
    </select>
    <!--获取一条-->
   <select id="getPartnerById" resultType="com.bootdo.blog.domain.Partner">
       select id,siteName,siteDesc,siteUrl,sort,createTime,status from partner where id = #{id}
   </select>
    <!--初始化加载 携带查询条件-->
    <select id="loadPartner" resultType="com.bootdo.blog.domain.Partner">
        select * from partner
        <if test="param != null and param != ''">
            where siteName like concat('%',#{param},'%')
        </if>
        limit #{pager.start},#{pager.limit}
    </select>
    <!--保存友情链接-->
    <insert id="savePartner" parameterType="com.bootdo.blog.domain.Partner" useGeneratedKeys="true" keyProperty="id">
        insert into partner(siteName, siteUrl, siteDesc, sort,createTime,status) VALUES (#{siteName},#{siteUrl},#{siteDesc},#{sort},#{createTime},#{status})
    </insert>
    <!--删除友情链接-->
    <delete id="deletePartner">
        delete from partner where id = #{id}
    </delete>
    <!--更新友情链接-->
    <update id="updatePartner" parameterType="com.bootdo.blog.domain.Partner">
        update partner
        <set>
        <if test="siteName != null">`siteName` = #{siteName}, </if>
        <if test="siteUrl != null">`siteUrl` = #{siteUrl}, </if>
        <if test="siteDesc != null">`siteDesc` = #{siteDesc}, </if>
        <if test="sort != null">`sort` = #{sort}, </if>
        <if test="status != null">`status` = #{status} </if>
        </set>
      where id =#{id}
    </update>
    <!--批量删除友情链接-->
    <delete id="batchRemove">
        delete from partner where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!--更新文章状态-->
    <update id="updateState" parameterType="com.bootdo.blog.domain.Partner">
        update partner set status = #{status} where id = #{id}
    </update>
    <select id="initPage" resultType="int">
        SELECT count(id) from partner
    </select>
</mapper>

