<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootdo.blog.dao.TagMapper">

    <select id="getTagCount" resultType="int">
        select count(id) from tag
    </select>

    <select id="getTagById" resultType="com.bootdo.blog.domain.Tag">
        select id,tagName,aliasName from tag where id = #{id}
    </select>

    <select id="tagList" resultType="com.bootdo.blog.domain.Tag">
        select id,tagName,aliasName from tag order by id desc

    </select>

    <!--分页条件查询标签列表 2017年5月19日 修复条件查询错误 原因条件语句写成了恒等式 aliasName like aliasName-->
    <select id="loadTagList" resultType="com.bootdo.blog.domain.Tag">
        select id,tagName,aliasName from tag
        <where>
        <if test="tagName != null and tagName != ''">
             tagName like concat('%',#{tagName},'%') or aliasName like concat('%',#{tagName},'%')
        </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="count" resultType="int">
        select count(*) from tag
        <where>
        <if test="tagName != null and tagName != ''">
             tagName like concat('%',#{tagName},'%') or aliasName like concat('%',#{tagName},'%')
        </if>
        </where>
    </select>

    <insert id="saveTag">
        insert into tag(tagName, aliasName) VALUES (#{tagName},#{aliasName})
    </insert>

    <insert id="saveArtitleTag"  parameterType="java.util.List">
        insert into articletag(articleId,tagId,tagName) VALUES
        <foreach collection ="list" item="articleTag" index= "index" separator =",">
        (#{articleTag.articleId},#{articleTag.tagId},#{articleTag.tagName})
        </foreach >
    </insert>

    <select id="checkExist" resultType="int">
        SELECT count(id) from tag WHERE (tagName=#{tagName} or aliasName = #{aliasName})
        <if test="id != null and id != '' ">
            and id != #{id}
        </if>
    </select>

    <update id="updateTag">
        UPDATE tag set tagName = #{tagName},aliasName = #{aliasName} where id = #{id}
    </update>

    <select id="initPage" resultType="int">
        SELECT COUNT(id) from tag
    </select>

    <select id="getTagList" resultType="com.bootdo.blog.domain.Tag">
        select id,tagName,aliasName from tag
    </select>

    <!--2017年5月7日 修复查询articlepage的错误 原因是由于前面没用到,现在才发现名称写错了也没有过滤重复的id-->
    <select id="articleTagPage" resultType="int">
       select count(DISTINCT article.id) from articletag join article on articleId = article.id and article.status = 1 where tagId = #{tagId}
    </select>

    <delete id="deleteTag">
        delete from tag where id = #{id}
    </delete>

    <!--批量删除分类-->
    <delete id="batchRemove">
        delete from tag where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteArtitleTag">
        delete from articletag where articleId = #{id}
    </delete>
</mapper>
